<div>
    <h1>Todolist</h1>

    <div>
        <input type="text" ng-model="vm.newTodo">
        <button ng-click="vm.addTodo()">Add Todo</button>
    </div>

    <ul>
        <!--
            "track by" is needed here as without it angular puts $$hashKey to
            every object it iterates over and therefore mutates the todo
            objects
        -->
        <li ng-repeat="todo in vm.todos track by todo.id" ng-click="vm.toggleTodo(todo.id)">
            <del ng-show="todo.completed">{{ todo.text }}</del>
            <span ng-show="!todo.completed">{{ todo.text }}</span>
        </li>
    </ul>
</div>

<div>
    Show:

    <span ng-show="vm.visibilityFilter === 'SHOW_ALL'">All</span>
    <a href="#" ng-show="vm.visibilityFilter !== 'SHOW_ALL'" ng-click="vm.setVisibilityFilter('SHOW_ALL'); $event.preventDefault();">All</a>

    <span ng-show="vm.visibilityFilter === 'SHOW_COMPLETED'">Completed</span>
    <a href="#" ng-show="vm.visibilityFilter !== 'SHOW_COMPLETED'" ng-click="vm.setVisibilityFilter('SHOW_COMPLETED'); $event.preventDefault();">Completed</a>

    <span ng-show="vm.visibilityFilter === 'SHOW_ACTIVE'">Active</span>
    <a href="#" ng-show="vm.visibilityFilter !== 'SHOW_ACTIVE'" ng-click="vm.setVisibilityFilter('SHOW_ACTIVE'); $event.preventDefault();">Active</a>
</div>
